.App {
    /* text-align: center; */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.single-products:hover {
    cursor: pointer;
}

.product-more {
    display: block;
    width: 256px;
    height: 190px;
}

#form-update {
    
}

.signup-form h2 {
    margin: 0 0 30px 0;
}

.acc-product-img {
    height: 50px;
    width: 50px;
}

.product-list td {
    text-align: left;
}

.add-product-btn {
    text-align: right;
    min-width: 40px;
}

.my-product-label {
    margin-top: 0;
    margin-bottom: 18px;
}

#add-product {
    display: inline-block;
    width: 100%;
}

#sale-input {
    display: inline-block;
    margin-right: 10px;
    width: 40%;
}

.img-checkbox-group {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.img-checkbox {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 14px !important;
}